src/main/resources/wsdl/BillPaymentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.billpayment.zb.co.zw/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="BillPaymentService" targetNamespace="http://ws.billpayment.zb.co.zw/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.billpayment.zb.co.zw/" elementFormDefault="unqualified" targetNamespace="http://ws.billpayment.zb.co.zw/" version="1.0">

  <xs:element name="postPayment" type="tns:postPayment"/>

  <xs:element name="postPaymentResponse" type="tns:postPaymentResponse"/>

  <xs:element name="retryPayment" type="tns:retryPayment"/>

  <xs:element name="retryPaymentResponse" type="tns:retryPaymentResponse"/>

  <xs:element name="reversePayment" type="tns:reversePayment"/>

  <xs:element name="reversePaymentResponse" type="tns:reversePaymentResponse"/>

  <xs:element name="validateCustomerAccount" type="tns:validateCustomerAccount"/>

  <xs:element name="validateCustomerAccountResponse" type="tns:validateCustomerAccountResponse"/>

  <xs:complexType name="postPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="payment" type="tns:payment"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="gatewayReference" type="xs:long"/>
      <xs:element minOccurs="0" name="billerId" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentReference" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="customerAccount" type="xs:string"/>
      <xs:element name="amount" type="xs:double"/>
      <xs:element minOccurs="0" name="customerPaymentDetails1" type="xs:string"/>
      <xs:element minOccurs="0" name="customerPaymentDetails2" type="xs:string"/>
      <xs:element minOccurs="0" name="customerPaymentDetails3" type="xs:string"/>
      <xs:element minOccurs="0" name="customerPaymentDetails4" type="xs:string"/>
      <xs:element minOccurs="0" name="customerPaymentDetails5" type="xs:string"/>
      <xs:element minOccurs="0" name="customerMobile" type="xs:string"/>
      <xs:element minOccurs="0" name="customerPrimaryAccountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="narrative" type="xs:string"/>
      <xs:element minOccurs="0" name="currency" type="xs:string"/>
      <xs:element minOccurs="0" name="customerName" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentMethod" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="postPaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:paymentResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="paymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="payment" type="tns:payment"/>
      <xs:element minOccurs="0" name="receiptDetails" type="xs:string"/>
      <xs:element minOccurs="0" name="receiptNumber" type="xs:string"/>
      <xs:element name="successful" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retryPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="payment" type="tns:payment"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retryPaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:paymentResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateCustomerAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="billerId" type="xs:string"/>
      <xs:element minOccurs="0" name="customerAccount" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateCustomerAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:validationResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="billerId" type="xs:string"/>
      <xs:element minOccurs="0" name="customerAccount" type="xs:string"/>
      <xs:element minOccurs="0" name="responseDetails" type="xs:string"/>
      <xs:element name="successful" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reversePayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="payment" type="tns:payment"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reversePaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:paymentResponse"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="validateCustomerAccountResponse">
    <wsdl:part element="tns:validateCustomerAccountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postPayment">
    <wsdl:part element="tns:postPayment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retryPayment">
    <wsdl:part element="tns:retryPayment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reversePaymentResponse">
    <wsdl:part element="tns:reversePaymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCustomerAccount">
    <wsdl:part element="tns:validateCustomerAccount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postPaymentResponse">
    <wsdl:part element="tns:postPaymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retryPaymentResponse">
    <wsdl:part element="tns:retryPaymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reversePayment">
    <wsdl:part element="tns:reversePayment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BillPaymentService">
    <wsdl:operation name="postPayment">
      <wsdl:input message="tns:postPayment" name="postPayment">
    </wsdl:input>
      <wsdl:output message="tns:postPaymentResponse" name="postPaymentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retryPayment">
      <wsdl:input message="tns:retryPayment" name="retryPayment">
    </wsdl:input>
      <wsdl:output message="tns:retryPaymentResponse" name="retryPaymentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCustomerAccount">
      <wsdl:input message="tns:validateCustomerAccount" name="validateCustomerAccount">
    </wsdl:input>
      <wsdl:output message="tns:validateCustomerAccountResponse" name="validateCustomerAccountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reversePayment">
      <wsdl:input message="tns:reversePayment" name="reversePayment">
    </wsdl:input>
      <wsdl:output message="tns:reversePaymentResponse" name="reversePaymentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillPaymentServiceSoapBinding" type="tns:BillPaymentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="postPayment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="postPayment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="postPaymentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retryPayment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retryPayment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retryPaymentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCustomerAccount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateCustomerAccount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateCustomerAccountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reversePayment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reversePayment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reversePaymentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillPaymentService">
    <wsdl:port binding="tns:BillPaymentServiceSoapBinding" name="BillPaymentServiceSOAP">
      <soap:address location="http://10.132.188.30/billpayment-service/BillPaymentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>